 <!-- Section Container -->
 <section class="flex flex-col items-center justify-center min-h-[50vh] bg-white ">
    <!-- Card Container -->
    <div class="flex flex-wrap justify-center gap-12 p-4">
        <!-- Dublin Card  -->
        <div class="flex flex-col items-center w-full sm:w-auto group">
            
            <a href="/location1" class="relative w-full sm:w-[314px] h-[188px] rounded-lg overflow-hidden transition-transform duration-300 hover:scale-105">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Samuel_Beckett_Bridge_At_Sunset_Dublin_Ireland_%2897037639%29_%28cropped%29.jpeg" alt="Dublin" 
                    class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110">
                <div class="absolute inset-0 bg-black/50 transition-opacity duration-300 group-hover:bg-transparent flex items-center justify-center cursor-pointer">
                    <h2 class="text-white text-lg sm:text-2xl font-semibold group-hover:opacity-0 ">Dublin, Ohio</h2>
                </div>
            </a>
        
            <a href="/location1">
                <button class="px-4 sm:px-8 py-2 mt-8 bg-Brandcolor hover:bg-BrandcolorHover text-white font-semibold rounded w-full sm:w-[314px] h-[35px]">
                    Dublin, Columbus, Ohio
                </button>
            </a>
        </div>

        <!-- Downtown Card  -->
        <div class="flex flex-col items-center w-full sm:w-auto group">
            <a href="/location2" class="relative w-full sm:w-[314px] h-[188px] rounded-lg overflow-hidden transition-transform duration-300 hover:scale-105">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Luchtfoto_van_Lower_Manhattan.jpg" alt="Downtown" 
                    class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110">
                <div class="absolute inset-0 bg-black/50 transition-opacity duration-300 group-hover:bg-transparent flex items-center justify-center cursor-pointer">
                    <h2 class="text-white text-lg sm:text-2xl font-semibold group-hover:opacity-0">Downtown, Ohio</h2>
                </div>
            </a>
            <a href="/location2">
                <button class="px-4 sm:px-8 py-2 mt-8 bg-Brandcolor hover:bg-BrandcolorHover text-white font-semibold rounded w-full sm:w-[314px] h-[35px]">
                    Downtown Columbus, Columbus, Ohio
                </button>
            </a>
        </div>
        
        <!-- Clintonville Card  -->
        <div class="flex flex-col items-center w-full sm:w-auto group">
            <a href="/location3" class="relative w-full sm:w-[314px] h-[188px] rounded-lg overflow-hidden transition-transform duration-300 hover:scale-105">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Cville.jpg" alt="Clintonville" 
                    class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110">
                <div class="absolute inset-0 bg-black/50 transition-opacity duration-300 group-hover:bg-transparent flex items-center justify-center cursor-pointer">
                    <h2 class="text-white text-lg sm:text-2xl font-semibold group-hover:opacity-0">Clintonville, Ohio</h2>
                </div>
            </a>
            <a href="/location3">
                <button class="px-4 sm:px-8 py-2 mt-8 bg-Brandcolor hover:bg-BrandcolorHover text-white font-semibold rounded w-full sm:w-[314px] h-[35px]">
                    Clintonville, Columbus, Ohio
                </button>
            </a>
        </div>
        
        
        
    </div>
</section>
<section class="mt-10 px-5">
    <div class="relative w-full h-96 mt-5 mb-10">
      <!-- Google Map iframe -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3114204.767224574!2d-85.30982412739567!3d40.33756318471299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8836e97ab54d8ec1%3A0xe5cd64399c9fd916!2sOhio%2C%20USA!5e0!3m2!1sen!2sin!4v1732116620919!5m2!1sen!2sin" 
              width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </section>