
<!-- content-section -->
<div class="content-section ">
    <!-- Left Side Content -->
    <div class="content-sectionl2">
        <div class="absolute inset-0 opacity-75"></div> 
        <div class="relative  bg-Brandcolor  z-10">
            <h2 class="content-section-heading">{{contentsection_heading}}</h2>
            <p class="content-section-sub">
                {{contentsection_sub}}
            </p>
        </div>
    </div>

    <!-- Right Side (Hidden on smaller screens) -->
    <div class="hidden sm:block w-1/2 rightside"></div>
</div>

<!-- work-section -->
<section class="work">


    <div class="work__block-wrapper">
        <div class="work__right-wide">
            <div class="work__block">
                <a href="/portfolio/baths" class="work__link">
                    <div class="work__block__bg-wrapper">
                        <div class="work__block__bg" style="background-image: url('https://media.istockphoto.com/id/1308282338/photo/modern-bathroom-interior-stock-photo.webp?a=1&b=1&s=612x612&w=0&k=20&c=8PajQ928amNL0DOZn7IFChezI3gqAwmPsXRqHrUSaXQ=');"></div>
                    </div>
                    <div class="work__overlay fade-in-up">
                        <div class="work__overlay__text">
                            <h6 class="h7">Baths</h6>
                            <p>From half-baths to the quintessential primary bath experience, our experts bring skill and style to every bathroom project.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="work__block-wrapper left-narrow">
        <div class="work__left-narrow">
            <div class="work__block">
                <a href="/portfolio/kitchens" class="work__link">
                    <div class="work__block__bg-wrapper">
                        <div class="work__block__bg" style="background-image: url('https://images.unsplash.com/photo-1565538810643-b5bdb714032a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8a2l0Y2h8ZW58MHx8MHx8fDA%3D');"></div>
                    </div>
                    <div class="work__overlay fade-in-up early">
                        <div class="work__overlay__text">
                            <h6 class="h7">Kitchens</h6>
                            <p>Your kitchen is the heart of your home, and at Case we offer over 60 years of experience bringing dream kitchens to life.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="work__red-block"></div>
    </div>

    <div class="work__block-wrapper right-narrow">
        <div class="work__right-narrow">
            <div class="work__block">
                <a href="/portfolio/outdoor-living" class="work__link">
                    <div class="work__block__bg-wrapper">
                        <div class="work__block__bg" style="background-image: url('https://plus.unsplash.com/premium_photo-1672308004773-3ca433fdcaa6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8b3V0ZG9vciUyMGxpdmluZ3xlbnwwfHwwfHx8MA%3D%3D');"></div>
                    </div>
                    <div class="work__overlay fade-in-up">
                        <div class="work__overlay__text">
                            <h6 class="h7">Outdoor Living</h6>
                            <p>Beautiful and built to last: that's the promise we make when taking on any exterior project, from decks to patios and beyond.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="work__block-wrapper left-wide">
        <div class="work__red-block"></div>
        <div class="work__left-wide">
            <div class="work__block">
                <a href="/portfolio/indoor-living" class="work__link">
                    <div class="work__block__bg-wrapper">
                        <div class="work__block__bg" style="background-image: url('https://media.istockphoto.com/id/925376720/photo/open-door-with-soft-focus-and-over-light-in-the-background.jpg?s=612x612&w=0&k=20&c=jcisx-h2h59npKkvJ1FO2bSA_FIHF-QdkNbtwgXDCGs=');"></div>
                    </div>
                    <div class="work__overlay fade-in-up">
                        <div class="work__overlay__text">
                            <h6 class="h7">Indoor Living</h6>
                            <p>For a comprehensive interior design, or just the best trim molding you've ever seen—whatever the need, we've been there and perfected it.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="flex justify-center items-center w-full">
        <div class="text-center my-8">
            <a href="/portfolio" class="inline-block px-8 py-4 bg-Brandcolor text-white text-base transition-transform duration-200 hover:bg-BrandcolorHover hover:scale-105">
                All Work
            </a>
        </div>
    </div>
    
    
</section>
<div class="bg-opacity-100 isolate bg-white">
<!-- text-banner -->
<section class="text-banner-wrapper">
    <!-- Gray Tint Overlay -->
    <div class="text-banner-overlay"></div>

    <!-- Content Centered -->
    <div class="text-banner-content">
        <!-- Text Content -->
        <h2 class="text-banner-heading">
            You have dreams. We have ideas.
        </h2>

        <!-- Button -->
        <a href="#" class="text-banner-button">
            Let's Chat
        </a>
    </div>
</section>


<!-- blog -->
<section class="blog grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 p-2 px-8 mt-12">
    <!-- Left Column: Our Blog Text and One Blog Card -->
    <div class="blog__left">
        <div class="blog__text mb-8">
            <h2 class="text-3xl text-Brandcolor mb-3">Our Blog</h2>
            <p class="text-xl leading-relaxed">Beautiful homes require brilliant thinking. Check out our latest insights, all inspired by client successes.</p>
        </div>
        <!-- First Blog Card -->
        <div class="blog-post mb-8 relative">
            <a href="#" class="block relative">
                <div class="blog-post__bg bg-cover bg-center w-full sm:w-[500px] h-[350px] sm:h-[400px]" style="background-image: url('https://b2508663.smushcdn.com/2508663/wp-content/uploads/2019/03/allie-mann-768x443.jpg?lossy=1&strip=1&webp=1');">
                    <!-- White Bottom Overlay Inside Image -->
                    <div class="absolute bottom-0 left-0 right-0 bg-white opacity-80 h-[50px] flex items-center justify-center px-4">
                        <div class="text-Brandcolor text-sm font-semibold">
                            <h6>Our Remodeling Process</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>

    <!-- Right Column: Other Blog Cards -->
    <div class="blog__right">
        <div class="blog-post mb-8 relative">
            <a href="#" class="block relative">
                <div class="blog-post__bg bg-cover bg-center w-full sm:w-[500px] h-[350px] sm:h-[400px]" style="background-image: url('https://b2508663.smushcdn.com/2508663/wp-content/uploads/2017/10/elena-ed-2-768x406.png?lossy=1&strip=1&webp=1');">
                    <!-- White Bottom Overlay Inside Image -->
                    <div class="absolute bottom-0 left-0 right-0 bg-white opacity-80 h-[50px] flex items-center justify-center px-4">
                        <div class="text-Brandcolor text-sm font-semibold">
                            <h6>A Vision of Home: The CaseStudy®</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="blog-post mb-8 relative">
            <a href="#" class="block relative">
                <div class="blog-post__bg bg-cover bg-center w-full sm:w-[500px] h-[350px] sm:h-[400px]" style="background-image: url('https://b2508663.smushcdn.com/2508663/wp-content/uploads/2023/01/Case_Court2022_02440-768x512.jpg?lossy=1&strip=1&webp=1');">
                    <!-- White Bottom Overlay Inside Image -->
                    <div class="absolute bottom-0 left-0 right-0 bg-white opacity-80 h-[50px] flex items-center justify-center px-4">
                        <div class="text-Brandcolor text-sm font-semibold">
                            <h6>What to Expect at an Initial Visit</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<div class="flex justify-center items-center w-full bg-opacity-100 isolate">
    <div class="text-center my-8">
        <a href="/portfolio" class="inline-block px-8 py-4 bg-Brandcolor text-white text-base transition-transform duration-200 hover:bg-BrandcolorHover hover:scale-105">
            ALL Blogs
        </a>
    </div>
</div>

<style>
    .blog-post__bg {
        background-size: cover;
        background-position: center;
        position: relative;
        
    }



    @media (max-width: 770px) {
        .blog-post__bg {
            width: 100%;
            height: 250px;
        }

       
    }

    @media (max-width: 1064px) and (min-width: 770px) {
        .blog {
            grid-template-columns: repeat(2, 1fr); 
            gap: 20px; 
        }

        .blog-post__bg {
            width: 100%;
            height: 350px;
        }
    }
    @media (min-width: 1064px) {
        .blog {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        .blog-post__bg {
            width: 100%;
            height: 400px;
        }
    }
</style>
</div>


