
<!-- content-section -->
<div class="content-section ">
    <!-- Left Side Content -->
    <div class="content-sectionl2">
        <div class="absolute inset-0 opacity-75"></div> 
        <div class="relative  bg-Brandcolor  z-10">
            <h2 class="content-section-heading">{{contentsection_heading}}</h2>
            <p class="content-section-sub">
                {{contentsection_sub}}
            </p>
        </div>
    </div>

    <!-- Right Side (Hidden on smaller screens) -->
    <div class="hidden sm:block w-1/2 rightside"></div>
</div>

<!-- work-section -->
<section class="work">


    <div class="work__block-wrapper">
        <div class="work__right-wide">
            <div class="work__block">
                <!-- <a href="#" class="work__link"> -->
                    <div class="work__block__bg-wrapper">
                        <div class="work__block__bg" style="background-image: url({{work1_img}});"></div>
                    </div>
                    <div class="work__overlay fade-in-up work__link">
                        <div class="work__overlay__text">
                            <h6 class="h7">{{work1_name}}</h6>
                            <p>{{work1_description}}</p>
                        </div>
                    </div>
                <!-- </a> -->
            </div>
        </div>
    </div>

    <div class="work__block-wrapper left-narrow">
        <div class="work__left-narrow">
            <div class="work__block">
                <!-- <a href="#" class="work__link"> -->
                    <div class="work__block__bg-wrapper">
                        <div class="work__block__bg" style="background-image: url({{work2_img}});"></div>
                    </div>
                    <div class="work__overlay fade-in-up early work__link">
                        <div class="work__overlay__text">
                            <h6 class="h7">{{work2_name}}</h6>
                    <p>{{work2_description}}</p>
                        </div>
                    </div>
                <!-- </a> -->
            </div>
        </div>

        <div class="work__red-block"></div>
    </div>

    <div class="work__block-wrapper right-narrow">
        <div class="work__right-narrow">
            <div class="work__block">
                <!-- <a href="#" class="work__link"> -->
                    <div class="work__block__bg-wrapper">
                        <div class="work__block__bg" style="background-image: url({{work3_img}});"></div>
                    </div>
                    <div class="work__overlay fade-in-up work__link">
                        <div class="work__overlay__text">
                            <h6 class="h7">{{work3_name}}</h6>
                            <p>{{work3_description}}</p>
                        </div>
                    </div>
                <!-- </a> -->
            </div>
        </div>
    </div>

    <div class="work__block-wrapper left-wide">
        <div class="work__red-block"></div>
        <div class="work__left-wide">
            <div class="work__block">
                <!-- <a href="#" class="work__link"> -->
                    <div class="work__block__bg-wrapper">
                        <div class="work__block__bg" style="background-image: url({{work4_img}});"></div>
                    </div>
                    <div class="work__overlay fade-in-up work__link work__link">
                        <div class="work__overlay__text">
                            <h6 class="h7">{{work4_name}}</h6>
                            <p>{{work4_description}}</p>
                        </div>
                    </div>
                <!-- </a> -->
            </div>
        </div>
    </div>

    <div class="flex justify-center items-center w-full">
        <div class="text-center my-8">
            <a href="/pages/service" class="inline-block px-8 py-4 bg-Brandcolor text-white text-base transition-transform duration-200 hover:bg-BrandcolorHover hover:scale-105">
                All Work
            </a>
        </div>
    </div>
    
    
</section>
<div class="bg-opacity-100 isolate bg-white">
<!-- text-banner -->
<section class="text-banner-wrapper">
    <!-- Gray Tint Overlay -->
    <div class="text-banner-overlay"></div>

    <!-- Content Centered -->
    <div class="text-banner-content">
        <!-- Text Content -->
        <h2 class="text-banner-heading">
            {{banner_text}}
        </h2>

        <!-- Button -->
        <a href="{{banner_button_url}}" class="text-banner-button">
            {{banner_button}}
        </a>
    </div>
</section>


<!-- blog -->
<section class="blog grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 p-2 px-8 mt-12">
    <!-- Left Column: Our Blog Text and One Blog Card -->
    <div class="blog__left">
        <div class="blog__text mb-8">
            <h2 class="text-3xl text-Brandcolor mb-3">{{blog_heading}}</h2>
            <p class="text-xl leading-relaxed">{{blog_description}}</p>
        </div>
        <!-- First Blog Card -->
        <div class="blog-post mb-8 relative">
            <a href="#" class="block relative">
                <div class="blog-post__bg bg-cover bg-center w-full sm:w-[500px] h-[350px] sm:h-[400px]" style="background-image: url({{blog1_img}});">
                    <!-- White Bottom Overlay Inside Image -->
                    <div class="absolute bottom-0 left-0 right-0 bg-white opacity-80 h-[50px] flex items-center justify-center px-4">
                        <div class="text-Brandcolor text-sm font-semibold">
                            <h6>{{blog1_title}}</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>

    <!-- Right Column: Other Blog Cards -->
    <div class="blog__right">
        <div class="blog-post mb-8 relative">
            <a href="#" class="block relative">
                <div class="blog-post__bg bg-cover bg-center w-full sm:w-[500px] h-[350px] sm:h-[400px]" style="background-image: url({{blog2_img}});">
                    <!-- White Bottom Overlay Inside Image -->
                    <div class="absolute bottom-0 left-0 right-0 bg-white opacity-80 h-[50px] flex items-center justify-center px-4">
                        <div class="text-Brandcolor text-sm font-semibold">
                            <h6>{{blog2_title}}</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="blog-post mb-8 relative">
            <a href="#" class="block relative">
                <div class="blog-post__bg bg-cover bg-center w-full sm:w-[500px] h-[350px] sm:h-[400px]" style="background-image: url({{blog3_img}});">
                    <!-- White Bottom Overlay Inside Image -->
                    <div class="absolute bottom-0 left-0 right-0 bg-white opacity-80 h-[50px] flex items-center justify-center px-4">
                        <div class="text-Brandcolor text-sm font-semibold">
                            <h6>{{blog3_title}}</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<div class="flex justify-center items-center w-full bg-opacity-100 isolate">
    <div class="text-center my-8">
        <a href="/pages/blog" class="inline-block px-8 py-4 bg-Brandcolor text-white text-base transition-transform duration-200 hover:bg-BrandcolorHover hover:scale-105">
            ALL Blogs
        </a>
    </div>
</div>

<style>
    .blog-post__bg {
        background-size: cover;
        background-position: center;
        position: relative;
        
    }



    @media (max-width: 770px) {
        .blog-post__bg {
            width: 100%;
            height: 250px;
        }

       
    }

    @media (max-width: 1064px) and (min-width: 770px) {
        .blog {
            grid-template-columns: repeat(2, 1fr); 
            gap: 20px; 
        }

        .blog-post__bg {
            width: 100%;
            height: 350px;
        }
    }
    @media (min-width: 1064px) {
        .blog {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        .blog-post__bg {
            width: 100%;
            height: 400px;
        }
    }
</style>
</div>

