<section class="py-16 px-6 sm:px-16 lg:px-48 ">
    <div class="max-w-screen-xl mx-auto">
        <h2 class="text-3xl font-semibold text-Brandcolor 0 mb-8 text-left">
            Additions
        </h2>
        <p class="text-lg text-gray-600 mb-12 text-left">
            Whether you’re expanding for a growing family, re-imagining your kitchen space, or envisioning a 1st floor bath, you’re getting closer to the total home experience you’ve always wanted.
        </p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Card 1 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/2161329503/photo/sunshine-entry-into-the-retro-living-space.webp?a=1&b=1&s=612x612&w=0&k=20&c=Kn9m5rV8RDkTgd-6ehcCWhTKXjc4_0cKXZLWgBxfrfw=" alt="Addition 1" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/2157389785/photo/there-is-brown-modular-sofa-and-armchair-in-the-clean-living-room.webp?a=1&b=1&s=612x612&w=0&k=20&c=QWQ5IZp3PvQxocw_SrfY1Q3T3Qx3aGvBmDyR1ZEOK1Y=" alt="Addition 2" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/2112749005/photo/modern-contemporary-style-small-wooden-terrace-in-lush-garden-with-house-interior-background.jpg?s=612x612&w=0&k=20&c=rtiD90a0nA3UpHfGsL1GnVG19GjIZd8H762MTgGcJug=" alt="Addition 3" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="flex justify-center mb-4">
    <a href="#" class="bg-Brandcolor text-white px-6 py-3  text-lg font-medium hover:bg-BrandcolorHover transition duration-300">
        Learn More
    </a>
</div>


<section class=" py-2 px-6 sm:px-16 lg:px-48 ">
    <div class="max-w-screen-xl mx-auto">
        <h2 class="text-3xl font-semibold text-Brandcolor 0 mb-8 text-left">
            Kitchen
        </h2>
        <p class="text-lg text-gray-600 mb-12 text-left">
            Whether you’re expanding for a growing family, re-imagining your kitchen space, or envisioning a 1st floor bath, you’re getting closer to the total home experience you’ve always wanted.
        </p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Card 1 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/1317490973/photo/modern-modular-kitchen-interior-range-cooker-and-chimney-hood.jpg?s=612x612&w=0&k=20&c=gfYMtdH3V-G-XODOocjmdPo39kt6v3vBt9jJhXxhWFE=" alt="Addition 1" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/1560594282/photo/wide-shot-of-an-empty-cosy-kitchen-decorated-with-indian-style-stylish-traditional-south.jpg?s=612x612&w=0&k=20&c=ULQjlbBVDq0rDTWE7_F8L6fJB4uFJFV1o2ypQFUximw=" alt="Addition 2" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/1300285870/photo/interior-design-architecture-computer-generated-image-of-kitchen-architectural-visualization.jpg?s=612x612&w=0&k=20&c=EE4IujoJohlHuLVp-kmpChfcCVE_mHIUgvWPf516300=" alt="Addition 3" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="flex justify-center mt-12 mb-4">
    <a href="#" class="bg-Brandcolor text-white px-6 py-3  text-lg font-medium hover:bg-BrandcolorHover transition duration-300">
        Learn More
    </a>
</div>

<section class="py-2 px-6 sm:px-16 lg:px-48 ">
    <div class="max-w-screen-xl mx-auto">
        <h2 class="text-3xl font-semibold text-Brandcolor 0 mb-8 text-left">
            Bath
        </h2>
        <p class="text-lg text-gray-600 mb-12 text-left">
            Whether you’re expanding for a growing family, re-imagining your kitchen space, or envisioning a 1st floor bath, you’re getting closer to the total home experience you’ve always wanted.
        </p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Card 1 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/2170317632/photo/luxury-bathroom-interior-with-shower-toilet-and-mirror.jpg?s=612x612&w=0&k=20&c=KfdwDazOC1R6qcAxO1qE_PAX1ohOWmZRHEF9FSbTjEk=" alt="Addition 1" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/1380717443/photo/dark-blue-modern-luxury-bathroom.jpg?s=612x612&w=0&k=20&c=lNkSjjaHRV0qB1M0P23EXPC0owGBvqf7RoAU36mmo3Q=" alt="Addition 2" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/1084656062/photo/interior-of-a-hotel-bathroom.jpg?s=612x612&w=0&k=20&c=rZxxHZ_QxV4SZtNwi1izI1jKLckdS9Uz0LZc_M41_OE=" alt="Addition 3" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="flex justify-center mt-12 mb-4">
    <a href="#" class="bg-Brandcolor text-white px-6 py-3  text-lg font-medium hover:bg-BrandcolorHover transition duration-300">
        Learn More
    </a>
</div>


<section class="py-2 px-6 sm:px-16 lg:px-48 ">
    <div class="max-w-screen-xl mx-auto">
        <h2 class="text-3xl font-semibold text-Brandcolor 0 mb-8 text-left">
            Indoor living
        </h2>
        <p class="text-lg text-gray-600 mb-12 text-left">
            Whether you’re expanding for a growing family, re-imagining your kitchen space, or envisioning a 1st floor bath, you’re getting closer to the total home experience you’ve always wanted.
        </p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Card 1 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/1182454657/photo/bohemian-living-room-interior-3d-render.jpg?s=612x612&w=0&k=20&c=qw37MGIiTL_jML3_Tbm4bM-jNLCrocSWj7DanhBr_bY=" alt="Addition 1" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/2157390379/photo/living-and-dining-room-in-white-and-beige-tones-sofa-table-chairs-decor-contemporary-interior.jpg?s=612x612&w=0&k=20&c=dpbibjY8Qj8gvJFGev3FFf-owS34YCEfTS_ghm-givs=" alt="Addition 2" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/1212833920/photo/home-interior-with-ethnic-boho-decoration-living-room-in-brown-warm-color.jpg?s=612x612&w=0&k=20&c=ts6eRIMWcThQqy5FbSqRWcF6z3x5Znhs-AUeNE_du8M=" alt="Addition 3" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="flex justify-center mt-12 mb-4">
    <a href="#" class="bg-Brandcolor text-white px-6 py-3  text-lg font-medium hover:bg-BrandcolorHover transition duration-300">
        Learn More
    </a>
</div>


<section class="py-2 px-6 sm:px-16 lg:px-48 ">
    <div class="max-w-screen-xl mx-auto">
        <h2 class="text-3xl font-semibold text-Brandcolor 0 mb-8 text-left">
            Outdoor living
        </h2>
        <p class="text-lg text-gray-600 mb-12 text-left">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere pulvinar rhoncus. Curabitur vel varius tellus. Phasellus ac ante ut dui ultricies mattis quis sed tellus. Phasellus blandit sollicitudin lorem eget accumsan.        </p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Card 1 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/1534040386/photo/an-outdoor-bamboo-gazebo-nestled-amidst-lush-greenery-offering-serene-relaxation-after-a.jpg?s=612x612&w=0&k=20&c=vwbyywizQ3ofQFUL9-OPXJyu6A44t9oJ6ZSDqeql6Yw=" alt="Addition 1" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/1226810761/photo/trendy-furniture-lights-lanterns-and-candles-in-the-garden-at-night.jpg?s=612x612&w=0&k=20&c=P9hT0K0vyMlInNEQ0WCcWonOWF3eUAlxtFFkeFfETuI=" alt="Addition 2" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="relative overflow-hidden rounded-lg shadow-lg group">
                <img src="https://media.istockphoto.com/id/2181662961/photo/modern-outdoor-patio-seating-with-poolside-view-and-hanging-greenery.jpg?s=612x612&w=0&k=20&c=00sYKylnw9-DKziTQr_2dO-AbP6LNhMqh_-V2NqTeGc=" alt="Addition 3" class="w-full h-auto object-cover transition-transform duration-300 ease-in-out group-hover:scale-110">
                <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 py-4 px-6">
                    <p class="text-gray-800 text-base text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="flex justify-center mt-12 mb-4">
    <a href="#" class="bg-Brandcolor text-white px-6 py-3  text-lg font-medium hover:bg-BrandcolorHover transition duration-300">
        Learn More
    </a>
</div>




