---
layout: layouts/base.html
title: Area Served
description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis vitae mi eu accumsan. Morbi ac luctus nulla. Mauris pharetra mollis eros, et venenatis diam tincidunt vitae. Sed laoreet lectus ac diam dapibus suscipit. Nam est risus, semper eu cursus sed, tempus eu leo. Integer bibendum lectus in orci luctus aliquam."

cards:
  - name: "Dublin, Ohio"
    link: "/Areapages/Dublin"
    image: "https://upload.wikimedia.org/wikipedia/commons/4/42/Samuel_Beckett_Bridge_At_Sunset_Dublin_Ireland_%2897037639%29_%28cropped%29.jpeg"
    alt: "Dublin"
    button_text: "Dublin, Columbus, Ohio"
  - name: "Downtown, Ohio"
    link: "/Areapages/Downtown"
    image: "https://upload.wikimedia.org/wikipedia/commons/6/69/Luchtfoto_van_Lower_Manhattan.jpg"
    alt: "Downtown"
    button_text: "Downtown Columbus, Columbus, Ohio"
  - name: "Clintonville, Ohio"
    link: "/Areapages/Clintonville"
    image: "https://upload.wikimedia.org/wikipedia/commons/b/be/Cville.jpg"
    alt: "Clintonville"
    button_text: "Clintonville, Columbus, Ohio"

google_map_url: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3114204.767224574!2d-85.30982412739567!3d40.33756318471299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8836e97ab54d8ec1%3A0xe5cd64399c9fd916!2sOhio%2C%20USA!5e0!3m2!1sen!2sin!4v1732116620919!5m2!1sen!2sin"

---
{% include "hero2.html" %}
{% include "Area-served.html" %}

