---
layout: layouts/base.html
title: Home
hero_heading: "Balance. Harmony. Beauty."
hero_subheading: "Are our ultimate pursuits whether you are considering an outdoor oasis, a food lover's kitchen, or an owner's suite."
contentsection_heading: "Top Workplaces"
contentsection_sub: "Awarded a Top Workplace by The Washington Post, Case is honored to receive recognition for: Innovation, Leadership, Purpose & Values, and Work-Life Flexibility.
                    With 6,865 organizations that applied, we’re beyond grateful to have made the Top Workplace list."
---


<div class="line-animation"></div>
{% include 'hero.html' %}


{% include 'home.html' %}